h1{
    color: red;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.x{
    justify-content: center;
}